# Copiar este archivo como .env y completar los valores
# Este archivo SÍ va a git (es una plantilla sin valores reales)

# Puerto local de la API (serverless-offline)
API_PORT=3010
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.xxxxxxxxxxxx.supabase.co:5432/postgres